/*responsive css to replace global while still using code from global css*/

html, body {
    margin: 0; padding: 0;
    font-family: Arial, sans-serif;
}

div#title-box h1 {
    font-size: xx-large;
     }

div#title-box h2 {
    display: none;
     }


div#title-box img {
    display: block;
    max-width: 100%;
}

form#Login-box input[type="text"],
form#Login-box input[type="password"] {
    display: block;
    margin-bottom: 5px;
}

ul#primary-nav {
    padding: 0;
    list-style-type: none;
}
ul#primary-nav li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: dimgray;
    color: #fff;
}

ul#primary-nav li a.selected {
    background-color: black;
}
ul#side-tabs {
    padding-left: 0px;
    list-style-type: none;
}

ul#side-tabs li {
    float: left;
}

ul#side-tabs li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    background-color: dimgray;
    color: black;
    text-align: center;
    margin-bottom: 5px;
}



ul#side-tabs li a.selected {
    background-color: black;
    font-weight: bold;
    color: white;
}
h2#section-heading{
    clear: left
}

div#lostpost-story {
    border-bottom: 1px solid #ccc;
}


div.lostpost-story div.lostpost-pts {
    float: left;
    font-size: x-large;
    text-align: center;
    width: 50px;
    margin-bottom: 20px;
}

div.lostpost-story p.lostpost-description{
    display: none;
}

div.lostpost-story p.lostpost-byline {
    font-size: small;
    margin-left: 50px;
}

div#side-bar a.decor, p#footer-nav {
    display: none;
}

div#side-bar input[name="search"]{
    margin-top: 10px;
    /*margin-left: 20px;*/
    width: 100%;
}
/*new media for pusposes of adjusting comments from hyperlink in desktop to button in mobile display or view size*/
@media all and (max-width: 1099px) {
    div.lostpost-story a.comments {
        display: block;
        text-decoration: none;
        background-color: cadetblue;
        color: white;
        padding: 10px 0;
        width: 40%;
        text-align: center;
    }
}

/*Switches from mobile to desktop starting here for purposes of display as iphone x*/

@media all and (min-width: 1100px) {
/*    copy and paste over the global css code as instructed by lecturer*/
    html, body {
        background-color: lightslategray;
    }

    /* header styles*/
    div#header {
        background-color: cadetblue;
    }

    div#title-box {
        float: left;
        width: 50%;
        margin-left: 14%;
    }
    /*title boxes created in html file*/
    div#title-box h1{
        font-size: xx-large;
    }

    div#title-box h2{
        font-size: large;
        display: block;
    }


    div#title-box img {
        display: inline;
        float: left;
        max-width: 100px;
        margin: 20px 10px 0 0;
    }

    form#Login-box {
        float: left;
        width: 400px;
        margin-top: 20px;
    }



    ul#primary-nav {
        clear: left;
        margin: 0 0 0 14%;
    }

    ul#primary-nav li {
        float: left;
    }


    ul#primary-nav li a:hover {
        background-color: gray;
    }


    /*content styles*/

    div#content{
        clear: left;
        background-color: aliceblue;
        /*overflow: hidden;*/
    /*    comment out unused code by will keep for adjusting as i go depending on usecase*/
    }

    ul#side-tabs {
        float: left;
        width: 14%;
        padding-top: 50px;
    }

    ul#side-tabs li {
        float: none;
    }

    ul#side-tabs li a {
        text-align: right;
    }

    ul#side-tabs li a:hover {
        background-color: gray;
    }
    h2#section-heading{
        margin-left: 30px;
    }


    div#lostpost {
        float: left;
        width: 50%;
        background-color: #fff;
    }

    div.lostpost-story div.lostpost-pts {
        width: 100px;
    }

    div.lostpost-story h3.lostpost-title {}

    div.lostpost-story p.lostpost-description,
    div.lostpost-story p.lostpost-byline {
        display: block;
        margin-left: 100px;
    }
    div.lostpost-story p.lostpost-byline {
        /*font-size: small;*/
        margin-left: 100px;
    }

    /*aligning content with css such as width for satisfying requirement of layout in blocks, using margins as well */
    div#side-bar {
        float: left;
        width: 400px;
    }

    div#side-bar div.extra-padding{
        padding: 10px;
    }

    div#side-bar a.decor {
        display: block;
        margin: 10px 20px;
        max-width: 100%;

    }
    div#side-bar a.decor img{
        width: 37.5%;
    }
    div#side-bar input[name="search"]{
        margin-top: 0px;
        width: auto;
    }

    /*footer styles*/

    div#footer {
        clear: left;
        margin-left: 14%;
        width: 50%;
        color: white;

    }
    p#footer-nav {
        display: block;
        float: left;
        width: 50%;
    }

    p#footer-nav a{
        color: inherit;
    }



    p#copyright {
        color: white;
        float: right;
        width: 50%;
        text-align: right;
        /*background-color: black;*/
    }

}
