{% extends "dogs/base.html" %}
{% load static %}
{% load humanize %}

{% block page-title %}Lost Post{% endblock %}

{% block scripts %} <script src="{% static "js/list.js" %}"></script>{% endblock %}

{% block styles %}
{#<link rel="stylesheet" type="text/css" href="{% static "css/add_story.css" %}">#}
<link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">
{% endblock %}

{#{% block page-title %} Submit Post {% endblock %}#}

{% block content %}
    <h2 id="section-heading">Delete Lost and Found Post</h2>

    <div class="extra-padding">

        <form name="delete" id="delete-form" action="{% url "dogs:story-deletefromdatabase" %}" method="POST">

            <div class="lostpost-story">
                <p class="lostpost-title"> Post Title: {{ story.title }}</p>
                <p class="lostpost-url"> Post URL: {{ story.url }}</p>
                <p class="lostpost-description"> Post Description: {{ story.description }}</p>
                <p class="lostpost-contact2"> Contact Info: {{ story.contact }}</p>
            </div>

            <label for="add-title">Press button to delete Lost and Found post selected.</label>
{#            <button class="delete" data-story-id="{{ story.id }}" data-ajax-url="{% url "dogs:story-deletefromdatabase" %}">Delete</button>#}
            <button id="delete" type="submit" class="delete" form="delete-form" formmethod="post">Delete</button>
            {% csrf_token %}

            <input type="hidden" name="id" value="{{ story.id }}">
{#            <input type="hidden" name="title" value="{{ story.title }}">#}
{#            <input type="hidden" name="description" value="{{ story.description }}">#}


{#            PROJECT 5 FORM UNCOMMENT#}
{#             <div class="post-button">#}
{#                 <p class="lostpost-byline"><a href="#" class="postbutton-delete">Delete This Post</a> </p>#}
{#                 <input type="submit" name="postbutton-create" value="Submit story">#}
{#             </div>#}
         </form>
    </div>
{% endblock %}

{#{% block detail-delete-edit %} {% endblock %}#}

{% block footer %}
    <p id="footer-nav"><a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy</a> | <a href="#">Contact Us</a></p>
    <p id="copyright">Copyright 2021 VT Project. All rights reserved</p>
{% endblock %}
