{% extends "dogs/base.html" %}
{% load static %}
{% load humanize %}

{% block page-title %}Lost Post{% endblock %}

{% block scripts %} <script src="{% static "js/list.js" %}"></script>{% endblock %}

{% block content %}
    <h2 id="section-heading">Edit Lost and Found Post</h2>

    <div class="lostpost-story">
        <h3 class="lostpost-title"><a href="{{ story.url }}"> {{ story.title }}</a></h3>
        <p class="lostpost-description"> {{ story.description }}</p>
        <p class="lostpost-contact"> <b> Contact info: {{ story.contact }}</b></p>

        <p class="lostpost-byline">Submitted by <a href="#">{{ story.author }}</a> </p>
    </div>


    <div class="extra-padding">
         <form id="lostpost-story" action="#" method="post">
             <p>* = required.</p>

             <p class="add-title">Edit current title: </p>
             <input type="text" name="post-title"></input>

             <p class="add-url">Edit current URL*:</p>
             <input type="text" name="post-url" type="text" required>

             <p class="add-description">Edit current description:</p>
             <input type="text" name="post-description"></input>

             <p class="add-contact">Edit current contact info:</p>
             <input type="text" name="post-contact"></input>

{#    <div class="lostpost-story">#}
{#        <h3 class="lostpost-title"><a href="{{ storyedit.url }}"> {{ storyedit.title }}</a></h3>#}
{#        <p class="lostpost-description"> {{ storyedit.description }}</p>#}
{#        update the comments url on the list.html so that it dynamically links to the story details page for the story#}
{#        <p class="lostpost-byline">Submitted by <a href="#">{{ storyedit.author }}</a> </p>#}
{#    </div>#}
             <div class="post-button">
                 <p class="lostpost-byline"><a href="#" class="postbutton-edit">Edit This Post</a> </p>
{#                 <button class="postbutton-edit">Edit This Post</button>#}

{#                 <p class="lostpost-byline"><a href="#" class="postbutton-edit">Edit This Post</a> </p>#}
{#                 <input type="submit" name="postbutton-create" value="Submit story">#}
             </div>
         </form>
    </div>
{% endblock %}

{% block footer %}
    <p id="footer-nav"><a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy</a> | <a href="#">Contact Us</a></p>
    <p id="copyright">Copyright 2021 VT Project. All rights reserved</p>
{% endblock %}
