{% extends "dogs/base.html" %}
{% load static %}
{% load humanize %}

{% block page-title %}Lost Post{% endblock %}

{% block scripts %} <script src="{% static "js/list.js" %}"></script>{% endblock %}

{% block side-tabs %}
{% endblock %}

{% block content %}
      <h2 id="section-heading">Please join us for all of our upcoming community events!</h2>

      <div class="lostpost-story">

<!--        will only color code the recent event additions with the radio button-->
        <div class="lostpost-attendancepts">

            {% if request.session.username %}
                <div class="attendancescore">2</div>
                <button class="attend">Attend</button>

            {% elif request.session.username2 %}
                <div class="attendancescore">2</div>
                <button class="attend">Attend</button>

          {% endif %}


        </div>
        <li class="redevent">
        <h2 class="lostpost-title2">  Event: Great Dane Meetup</h2>
        <p class="lostpost-description2">Date: 2021-09-30 </p>

      </div>

    <div class="lostpost-story">

      <div class="lostpost-attendancepts">

          {% if request.session.username %}
              <div class="attendancescore">2</div>
              <button class="attend">Attend</button>

            {% elif request.session.username2 %}
                <div class="attendancescore">2</div>
                <button class="attend">Attend</button>

          {% endif %}
      </div>

      <li class="greenevent">
      <h2 class="lostpost-title2">Event: Volunteer Group Saturday Meet Up</h2>
      <p class="lostpost-description2">Date: 2021-09-11 </p>
      </div>
<!--end of hardcoded events-->
{% endblock %}

{% block footer %}
    <p id="footer-nav"><a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy</a> | <a href="#">Contact Us</a></p>
    <p id="copyright">Copyright 2021 VT Project. All rights reserved</p>
{% endblock %}
