{% extends "dogs/base.html" %}
{% load static %}
{% load humanize %}

{% block page-title %}Lost Post{% endblock %}

{% block scripts %} <script src="{% static "js/list.js" %}"></script>{% endblock %}
{# jquery file already included in the base html file - js/jquery-3.6.0.min.js#}


{% block side-tabs %}
    <li><a href="#" class="selected">Popular</a> </li>
    <li><a href="#">Newest</a> </li>
    <li><a href="#">Controversial</a> </li>
{% endblock %}

{% block content %}
    <h2 id="section-heading">Lost and Found</h2>
{#for passing the views.py lostpost_list that is using the models.py#}
    {% for story in stories %}

        <div class="lostpost-story">
            <div class="lostpost-pts">

                {% if request.session.username %}

                <button class="upvote">Upvote</button>

                {%  endif %}

                <div class="score">{{ story.score }}</div>

                {% if request.session.username %}

              <button class="downvote">Downvote</button>

                {% endif %}

            </div>
                <h3 class="lostpost-title"><a href="{{ story.url }}"> {{ story.title }}</a></h3>
                <p class="lostpost-description"> {{ story.description }}</p>

        {#        update the comments url on the list.html so that it dynamically links to the story details page for the story#}
        {#        need to reference the app of dogs, used in the url.py#}
                <p class="lostpost-byline">Submitted by <a href="#">{{ story.author }}</a> {{ story.date_posted|naturaltime }} - <a href="{% url "dogs:story-detail" story.id %}" class="comments">View comments</a> </p>
        </div>
    {% endfor %}


{##}
{#    <div class="lostpost-story">#}
{#      <div class="lostpost-pts">#}
{#          <BUTTON class="upvote">Upvote</BUTTON>#}
{#          <div class="score">3</div>#}
{#          <button class="downvote">Downvote</button>#}
{#        </div>#}
{##}
{#        <h3 class="lostpost-title"><a href="https://www.awla.org/services/for-you/lost-found/found-animals/"> Lost Black Cat</a></h3>#}
{#        <p class="lostpost-description"> My cat hasn't been home since last week on 09.02.21. Please look out for her! She was last seen in Falls Church plaza.</p>#}
{#        <p class="lostpost-byline">Submitted by <a href="#">Bsmith</a> 45 hours ago - <a href="#" class="comments">View 6 comments</a> </p>#}
{##}
{#      <div class="lostpost-follow">#}
{#          <button class="follow">Follow</button>#}
{#          <p class="lostpost-trackstatus">Track the status of this post.</p>#}
{#      </div>#}
{#    </div>#}
{% endblock %}

{% block footer %}
    <p id="footer-nav"><a href="#">Home</a> | <a href="#">About</a> | <a href="#">Privacy</a> | <a href="#">Contact Us</a></p>
    <p id="copyright">Copyright 2021 VT Project. All rights reserved</p>
{% endblock %}
